@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body, html {
    font-family: 'Mulish', sans-serif;
    background-color: #2E22AB;
}

header {
    background-color: #FAFAFF;
    box-shadow: inset 0 0 100px #1C1C1C;
}

.header__title {
    font-family: 'Perfect Dark (BRK)', sans-serif;
    font-size: 1.7rem;
}

.nav-item:hover {
    font-family: 'Perfect Dark (BRK)', sans-serif;
}
