@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/perfect-dark-brk');

body, html {
    font-family: 'Mulish', sans-serif;
    background-color: #1C1C1C;
    color: #FAFAFF;
}

.pdfont {
    font-family: 'Perfect Dark (BRK)', sans-serif;
}

header, #header-logo {
    background-color: #000000;
}

.nav-link:hover,
.dropdown-item:hover {
    font-weight: 700;
}

.introduction .bg-image {
    background-image: url('img/perfect-dark-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.blur {
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(3px); 
    height: 100%;
    width: 100%;
}

.introduction {
    position: relative;
}

.introduction__content-text {
    background-color: #1C1C1C;
    border-radius: 25px;
}

.plot .bg-image {
    background-image: url('img/plot-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.plot__content-title {
    border-bottom: 4px solid #FAFAFF;
}

.plot__content-text {
    background-color: #1C1C1C;
    border-radius: 15px;
}

footer {
    background-color: #000000;
}

.footer-content a {
    text-decoration: none;
}

.footer-content a:hover {
    font-weight: 700;
}